interactions:
- request:
    body: !!python/unicode '{"Data": "4135717330651111", "TokenScheme": 7}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/Tokenize
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121411283553734177","Success":true,"Token":"3516241539251111"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"Token": "5489971350951111"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/DeleteToken
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121411514505959440","Success":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"Token": "6405845987401111"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/DeleteToken
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121709260021196217","Success":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
