interactions:
- request:
    body: !!python/unicode '{"Token": "4135717330651111"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/Detokenize
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121411283525856077","Success":true,"Value":"4111111111111111"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"Token": "5489971350951111"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/Detokenize
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121411514474855034","Success":true,"Value":"4111111111111111"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
