interactions:
- request:
    body: !!python/unicode '{"Data": "4111111111111111", "TokenScheme": 7}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/Tokenize
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121411283466522517","Success":true,"Token":"4135717330651111"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"Data": "4111111111111111", "TokenScheme": 7}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/Tokenize
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121709255849947482","Success":true,"Token":"4755717443321111"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
