interactions:
- request:
    body: !!python/unicode '{"Token": "4135717330651111"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/ValidateToken
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121411283495567817","Success":true,"Valid":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"Token": "6405845987401111"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://test-api.tokenex.com/TokenServices.svc/REST/ValidateToken
  response:
    body: {string: !!python/unicode '{"Error":"","ReferenceNumber":"18121709255971476412","Success":true,"Valid":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
